# Ignore everything
*

# But not these files...
!.gitignore
!MomentumUpdater.scala
!NesterovUpdater.scala
!AdagradUpdater.scala
!AdamUpdater.scala
!AdamaxUpdater.scala
!AdadeltaUpdater.scala
!GradientDescentAlg.scala
!NadamUpdater.scala
!RMSpropUpdater.scala
!AdaptiveUpdater.scala
!LogisticRegressionWithAdaSGD.scala
!SVMWithAdaSGD.scala
!AMSGradUpdater.scala
!OptimizerWithAdaSGD.scala
!GeneralizedLinearAlgorithmWithAdaSGD.scala
# etc...

# ...even if they are in subdirectories
!*/