# Ignore everything
*

# But not these files...
!.gitignore
!App.scala
!Flights.scala
!Updater.scala
!MomentumUpdater.scala
!NesterovUpdater.scala
# etc...

# ...even if they are in subdirectories
!*/